body {
    padding-top: 3.5rem;
}

.jumbotron {
    background-image: url("../images/dark.page.jpg");
    background-size: cover;
}

#mind-read {
    background-image: url("../images/mind-read.png");
}